@page "/nqueens"
@using BlazorApp1.Shared
@inject HttpClient Http

<PageTitle>وزیر n الگوریتم</PageTitle>

<h1>الگوریتم n وزیر</h1>

<p>این الگوریتم تمام حالت های ممکن برای قرار دادن n وزیر را در شطرنج n*n نمایش می دهد.</p>
<label>تعداد وزیر را وارد کنید:</label>
<input style="text-align:right;" class="form-control" type="text" @onchange="@((e) => { n=Convert.ToInt32(e.Value.ToString());})" placeholder="لطفا عددی صحیح و مثبت وارد کنید" />
<button class="btn btn-primary" onclick="@(async ()=> await Nqueens())">دریافت راه حل</button>
<hr>

@if (answers != null)
{

    <div class="main-container">
        @foreach (var soloution in answers)
        {
            <div class="container">
                <table dir="ltr">
                    <tbody>
                        @for (var i = 0; i < n; i++)
                        {
                            <tr>
                                @for (var j = 0; j < n; j++)
                                {
                                    Console.WriteLine(i);
                                    @if (j == soloution[i]-1)
                                    {
                                        <td class="answer"></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="display:flex;justify-content:center;">
                    <p style="margin:10px !important">
                        @foreach (var m in soloution)
                        {
                            <span>@m</span>
                        }
                    </p>
                </div>
            </div>
        }
    </div>



}
<br />
<br />



@code {
    private List<List<int>>? answers;
    private int n;
    private async Task Nqueens()
    {
        using var res = await Http.PostAsJsonAsync<int>("api/nvazir", n);
        answers = await res.Content.ReadFromJsonAsync<List<List<int>>>();
    }
}
